
<section class="retro-about-me">
    <div class="container">
      <div class="content">
        <h2 class="glitch" [attr.data-text]="translate('about.title')">{{ translate('about.title') }}</h2>
        <p>{{ translate('about.paragraph1') }}</p>
        <!-- <p>{{ translate('about.paragraph2') }}</p> -->
        <div class="skills">
          <span class="skill">SQL</span>
          <span class="skill">Unity</span>
          <span class="skill">Java</span>
          <span class="skill">Angular</span>          
        </div>
      </div>
      <div class="portrait">
        <div class="portrait-container">
          <div class="scanline"></div>
          <div class="crt-effect"></div>
        </div>
      </div>
    </div>
  </section>