<footer class="retro-footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Arkrater</h3>
        <p>Persiguiendo el sueño de ser GameDev</p>
      </div>
      <div class="footer-section">
        <h3>Links</h3>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/projects">Projects</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Contáctame</h3>
        <ul>
          <li><a href="https://github.com/devarkoru" target="_blank">GitHub</a></li>
          <li><a href="https://linkedin.com/in/cnoyarzun/" target="_blank">LinkedIn</a></li>          
          <li><a href="https://playclassic.games/games/scrolling-shooter-dos-games-online/play-tyrian-online/play/" target="_blank">Inspiración de este diseño</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} Arkrater All rights reserved.</p>
    </div>
  </footer>