<footer class="retro-footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Arkrater</h3>
        <p>{{ translate('footer.message') }}</p>
      </div>
      <div class="footer-section">
        <h3>Links</h3>
        <ul>
          <li><a routerLink="/">{{ translate('home') }}</a></li>
          <li><a routerLink="/about">{{ translate('about') }}</a></li>
          <li><a routerLink="/projects">{{ translate('projects') }}</a></li>
          <li><a routerLink="/contact">{{ translate('contact') }}</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>{{ translate('contact.title') }}</h3>
        <ul>
          <li><a href="https://github.com/devarkoru" target="_blank">GitHub</a></li>
          <li><a href="https://linkedin.com/in/cnoyarzun/" target="_blank">LinkedIn</a></li>          
          <li><a href="https://playclassic.games/games/scrolling-shooter-dos-games-online/play-tyrian-online/play/" target="_blank">Inspiración de este diseño</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>{{ translate('footer.title') }} {{ currentYear }} {{ translate('footer.title2') }}</p>
    </div>
  </footer>