.retro-footer {
  background-color: #323232;
  color: #00ff00;
  padding: 1rem 0;
  font-family: 'VT323', monospace;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 1rem;
}

.cat-image {
  width: 60px;
  height: auto;
  margin-left: 50px;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: #00ff00;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #00ffff;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
