<footer class="retro-footer">
  <div class="footer-container">    
    <img src="https://i.ibb.co/mFN10GC/a499e55b-7150-40df-8b2f-e2b54711b76c.webp" alt="Retro cat" class="cat-image">
    <p>{{ translate('footer.title') }} {{ currentYear }} {{ translate('footer.title2') }}</p>
    <div class="social-links">
      <a href="https://github.com/devarkoru" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://linkedin.com/in/cnoyarzun/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="https://playclassic.games/games/scrolling-shooter-dos-games-online/play-tyrian-online/play/" target="_blank" rel="noopener noreferrer">Inspiration Style</a>
    </div>
  </div>
</footer>