<nav class="retro-navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-brand">
      <img src="https://i.ibb.co/G5qFSH2/Proyecto-nuevo.webp" alt="Retro cat" class="cat-image">
      Arkrater
    </a>
    <ul class="navbar-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ translate('home') }}</a></li>
      <li><a routerLink="/about" routerLinkActive="active">{{ translate('about') }}</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">{{ translate('projects') }}</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">{{ translate('contact') }}</a></li>
      <li><button (click)="toggleLanguage()" class="retro-translation-button">
        {{ currentLanguage === 'en' ? 'ES' : 'EN' }}
      </button></li>
    </ul>
    
  </div>
</nav>
