<section class="retro-about-me">
  <div class="about-container">
    <div class="about-content" [@fadeInAnimationAbout]>
      <h2 class="glitch" [attr.data-text]="translate('about.title')">{{ translate('about.title') }}</h2>
      <div class="about-paragraphs">
        <p>{{ translate('about.paragraphsub1') }}</p>
        <p>{{ translate('about.paragraphsub2') }}</p>
        <p>{{ translate('about.paragraphsub3') }}</p>
      </div>
      <button (click)="checkFileAndDownload()" target="_blank" class="download-resume">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
        {{ translate('about.downloadResume') }}
      </button>
    </div>
    <div class="about-image" [@fadeInAnimationAbout]>
      <img src="https://i.ibb.co/72t0JYT/px-Art-1.png" alt="Professional photo" class="profile-image">
      <img src="https://i.ibb.co/z2xJg1w/mariocuy.webp" alt="Retro cat" class="cat-image">
    </div>
  </div>
</section>

<!-- Experiencia laboral -->
<section class="professional-experience">
  <h2 class="glitch" [attr.data-text]="translate('experience.title')">{{ translate('experience.title') }}</h2>
  <div class="timeline-container" [@staggerAnimation]="experiences.length">
    <div class="timeline-line" [style.width]="timelineWidth"></div>
    <div *ngFor="let exp of experiences" class="timeline-item">
      <div class="timeline-content">
        <h3>{{ exp.year }}</h3>
        <h4>{{ exp.company }}</h4>
        <h5>{{ exp.position }}</h5>
        <p>{{ translate(exp.descriptionKey) }}</p>
      </div>
    </div>
  </div>
</section>

<section class="education-section">
  <h2 class="glitch" [attr.data-text]="translate('education.title')">{{ translate('education.title') }}</h2>
  <div class="education-container" [@staggerAnimation]="educationList.length">
    <div *ngFor="let edu of educationList" class="education-item">
      <div class="education-content">
        <h3>{{ edu.year }}</h3>
        <h4>{{ edu.institution }}</h4>
        <h5>{{ edu.degree }}</h5>
        <p>{{ translate(edu.descriptionKey) }}</p>
      </div>
    </div>
  </div>
</section>